@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/calibre");

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 1, 1, 39;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 1, 1, 39;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Calibre", sans-serif;
  background-color: rgb(var(--background-start-rgb));
}

* {
  scroll-behavior: smooth;
}
